.Admin {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #dee2e6;
  border-top-color: transparent;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 5px 10px 0 rgba(25, 25, 25, 0.25);
}

.AdminTitle {
  text-align: center;
  margin-bottom: 20px;
}

.AdminBody {
  margin: 0 auto;
}

.EditForm label {
  display: block;
  margin: 20px 0 0 20px;
}

.FormField {
  margin-top: 5px;
  padding: 5px;
  border: 1px solid #acb0b4;
  border-radius: 4px;
  box-shadow: 0 0 5px 0 rgba(25, 25, 25, 0.25);
}

.FormField.SelectMenu {
  width: 300px;
}

.FormField.TitleInput {
  width: 100%;
}

.FormField.ContentField {
  max-width: 100%;
  min-width: 100%;
  max-height: 150px;
  min-height: 150px;
}

.EditForm .Buttons {
  margin: 20px 0 0 20px;
}