.Toolbar {
  padding: 20px 5% 0;
  overflow: hidden;
  position: relative;
}

.Toolbar:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #dee2e6;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -10;
}

.Toolbar-logo {
  margin-left: 30px;
  float: left;
}