.MainContent {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #dee2e6;
  border-top-color: transparent;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 5px 10px 0 rgba(25, 25, 25, 0.25);
}

.MainTitle {
  text-align: center;
  margin-bottom: 20px;
}

.MainBody {
  margin: 0 auto;
}