.NavigationItem {
  display: inline-block;
}

.NavigationItem a {
  padding: 10px;
  border: 1px solid transparent;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #495057;
  text-decoration: none;
  display: block;
}

.NavigationItem:hover a {
  color: #077bff;
  border: 1px solid #e9ecef;
  border-bottom: 1px solid transparent;
}

.NavigationItem .Selected {
  color: #0775d6;
  border: 1px solid #dee2e6;
  border-bottom: 1px solid white;   /* use color as NavigationItems background */
}

.NavigationItem .Selected:hover {
  color: #0775d6;
  border: 1px solid #dee2e6;
  border-bottom: 1px solid white;   /* use color as NavigationItems background */
  cursor: default;
}