.Btn {
  margin: 0 20px;
  padding: 10px 20px;
  border: 1px solid #0775d6;
  border-radius: 4px;
  font-weight: bold;
  background: #077bff;
  box-shadow: inset 1px 1px 2px 0 rgba(250, 250, 250, 0.75), inset -1px -1px 2px 0 rgba(250, 250, 250, 0.75), 2px 2px 3px 1px rgba(25, 25, 25, 0.5);
}

.Btn:active {
  background: #0775d6;
  box-shadow: inset 1px 1px 2px 0 rgba(25, 25, 25, 0.4), inset -1px -1px 2px 0 rgba(25, 25, 25, 0.4), 1px 1px 2px 1px rgba(25, 25, 25, 0.5);
}